[Unit]
Description=DCDB Pusher
After=collectagent.service

[Service]
Environment=LD_LIBRARY_PATH=/home/nnhhaadd/DCDB/install/lib
ExecStart=/home/nnhhaadd/DCDB/install/bin/dcdbpusher /home/nnhhaadd/DCDB/install/etc
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
